.header{
background-color:  rgba(202, 251, 253, 0.844);
}



h1{
margin: 10px;
padding: 5px;
text-align: center;
font-size: 35px;
font-family: cursive;
color: rgba(40, 114, 116, 0.844);
font-weight: 500px;
}


.img-header{
    display: flex;
margin: auto;
padding: 10px;
height: 160px;

}